################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.svn
/.vs/ITSP-TrackingSystemRefactor/v14
/.vs
/ITSP-TrackingSystemRefactor/App_Data/UploadTemp/dxbiupload_1e2d84707323201a7250aa615833d895.tmp
/ITSP-TrackingSystemRefactor/bin
/ITSP-TrackingSystemRefactor/cms/CMSContent
/ITSP-TrackingSystemRefactor/downloadfiles
/ITSP-TrackingSystemRefactor/help
/ITSP-TrackingSystemRefactor/bulletins
/ITSP-TrackingSystemRefactor/Images/landing/study-bkg.jpg
/ITSP-TrackingSystemRefactor/Images/landing/prev.png
/ITSP-TrackingSystemRefactor/Images/landing/next.png
/ITSP-TrackingSystemRefactor/Images/landing/newsbkg.jpg
/ITSP-TrackingSystemRefactor/Images/landing/mock-monitor.png
/ITSP-TrackingSystemRefactor/Images/landing/loading.gif
/ITSP-TrackingSystemRefactor/Images/landing/csbkg.jpg
/ITSP-TrackingSystemRefactor/Images/landing/close.png
/ITSP-TrackingSystemRefactor/learningportal/help
/ITSP-TrackingSystemRefactor/mp4
/ITSP-TrackingSystemRefactor/obj
/ITSP-TrackingSystemRefactor/skypetest
/ITSP-TrackingSystemRefactor/tempfiles
/packages
ITSP-TrackingSystemRefactor/Images/stars.png
ITSP-TrackingSystemRefactor/Images/sidebar4.png
ITSP-TrackingSystemRefactor/Images/sidebar3.png
ITSP-TrackingSystemRefactor/Images/sidebar2.png
ITSP-TrackingSystemRefactor/Images/sidebar1.png
ITSP-TrackingSystemRefactor/Images/sidebar0.png
ITSP-TrackingSystemRefactor/Images/savedstar.png
ITSP-TrackingSystemRefactor/Images/pathLMLogo.png
ITSP-TrackingSystemRefactor/Images/nothumb.png
ITSP-TrackingSystemRefactor/Images/loader.gif
ITSP-TrackingSystemRefactor/Images/kevin.jpg
ITSP-TrackingSystemRefactor/Images/filledstar.png
ITSP-TrackingSystemRefactor/Images/emptystar.png
ITSP-TrackingSystemRefactor/Images/dls-sqs.png
ITSP-TrackingSystemRefactor/Images/DLS-Logo-XL.png
ITSP-TrackingSystemRefactor/Images/david.jpg
ITSP-TrackingSystemRefactor/Images/close_dialog.png
ITSP-TrackingSystemRefactor/Images/claire.jpg
ITSP-TrackingSystemRefactor/Images/carolyn.jpg
ITSP-TrackingSystemRefactor/Images/avatar.png
ITSP-TrackingSystemRefactor/Images/uploaded/faq/b295c2cf-52de-45fd-91b4-6e9d6b4d9631.png
ITSP-TrackingSystemRefactor/Images/uploaded/tickets/8803454213467374381-account_id=3(1).jpg
ITSP-TrackingSystemRefactor/Images/uploaded/tickets/8803454213467374381-account_id=3(10).jpg
ITSP-TrackingSystemRefactor/Images/uploaded/tickets/8803454213467374381-account_id=3(11).jpg
ITSP-TrackingSystemRefactor/Images/uploaded/tickets/8803454213467374381-account_id=3(12).jpg
ITSP-TrackingSystemRefactor/Images/uploaded/tickets/8803454213467374381-account_id=3(2).jpg
ITSP-TrackingSystemRefactor/Images/uploaded/tickets/8803454213467374381-account_id=3(3).jpg
ITSP-TrackingSystemRefactor/Images/uploaded/tickets/8803454213467374381-account_id=3(4).jpg
ITSP-TrackingSystemRefactor/Images/uploaded/tickets/8803454213467374381-account_id=3(5).jpg
ITSP-TrackingSystemRefactor/Images/uploaded/tickets/8803454213467374381-account_id=3(6).jpg
ITSP-TrackingSystemRefactor/Images/uploaded/tickets/8803454213467374381-account_id=3(7).jpg
ITSP-TrackingSystemRefactor/Images/uploaded/tickets/8803454213467374381-account_id=3(8).jpg
ITSP-TrackingSystemRefactor/Images/uploaded/tickets/8803454213467374381-account_id=3(9).jpg
ITSP-TrackingSystemRefactor/Images/uploaded/tickets/8803454213467374381-account_id=3.jpg
ITSP-TrackingSystemRefactor/Images/uploaded/tickets/festive.jpg
ITSP-TrackingSystemRefactor/Images/uploaded/tickets/NHD-logo(1).png
ITSP-TrackingSystemRefactor/Images/uploaded/tickets/NHD-logo.png
ITSP-TrackingSystemRefactor/updatedsourcefiles.zip
ITSP-TrackingSystemRefactor/Web.config.bak
ITSP-TrackingSystemRefactor/Web.config
ITSP-TrackingSystemRefactor/Web.config
ITSP-TrackingSystemRefactor/Web.config
ITSP-TrackingSystemRefactor/secrets.config
ITSP-TrackingSystemRefactor\services.asmx.vb
ITSP-TrackingSystemRefactor/secrets.config
ITSP-TrackingSystemRefactor/My Project/PublishProfiles/itsp-tracking-dev-preview.pubxml.user
ITSP-TrackingSystemRefactor/My Project/PublishProfiles/itsp-tracking-dev-preview.pubxml.user
