.umx-card {
    padding: 15px 20px;
    padding: 1.5rem 2rem;
    background-color: #eee;
    border: 0
}
.ms-feature{
    transition:all ease-in 0.3s;
}
    .ms-feature:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 4px 0 rgba(0,0,0,.14),0 5px 3px -2px rgba(0,0,0,.2),0 3px 7px 0 rgba(0,0,0,.12);
    }
.ms-feature:hover > .img-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #FFF;
    opacity: 0.15;
}
.card-itsp-green {
    border-color: #11AF50;
}

    .card-itsp-green > .card-header {
        border-color: #11AF50;
        color: white;
        background-color: #5cb85c;
    }

    .card-itsp-green > a {
        color: #11AF50;
    }

        .card-itsp-green > a:hover {
            color: #0b7a38;
        }

.card-itsp-purple {
    border-color: #3A1978;
}

    .card-itsp-purple > .card-header {
        border-color: #3A1978;
        color: white;
        background-color: #3A1978;
    }

    .card-itsp-purple > a {
        color: #3A1978;
    }

        .card-itsp-purple > a:hover {
            color: #281154;
        }

.card-itsp-pink {
    border-color: #B5006A;
}

    .card-itsp-pink > .card-header {
        border-color: #B5006A;
        color: white;
        background-color: #B5006A;
    }

    .card-itsp-pink > a {
        color: #B5006A;
    }

        .card-itsp-pink > a:hover {
            color: #7e004a;
        }

.card-itsp-blue {
    border-color: #009DCA;
}

    .card-itsp-blue > .card-header {
        border-color: #009DCA;
        color: white;
        background-color: #009DCA;
    }

    .card-itsp-blue > a {
        color: #009DCA;
    }

        .card-itsp-blue > a:hover {
            color: #006d8d;
        }

.card-dls-squares > .card-header {
    background-image: url('../Images/dls-sqs.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 100%, 100% 100%;
    color: white
}

.card .card-header h2 {
    font-size: 18px;
    font-size: 1.8rem
}

.modal .modal-dialog .modal-content .modal-header .close {
    color: #616161;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    font-size: 16px;
    padding: 5px;
    padding: .5rem;
    margin: 14px 24px 0 0;
    margin: 1.4rem 2.4rem 0 0;
    cursor: pointer
}

    .modal .modal-dialog .modal-content .modal-header .close:hover, .modal .modal-dialog .modal-content .modal-header .close:focus {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }

.modal .modal-dialog .modal-content .modal-header .modal-title {
    margin: 0;
    padding: 30px 24px 0;
    padding: 3rem 2.4rem 0
}

.modal .modal-dialog .modal-content .modal-body {
    padding: 24px;
    padding: 2.4rem
}

.modal.modal-primary .modal-dialog .modal-content .modal-header {
    background-color: #FFF;
    color: #005eb8;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}

    .modal.modal-primary .modal-dialog .modal-content .modal-header .close {
        color: #aaa
    }

        .modal.modal-primary .modal-dialog .modal-content .modal-header .close:hover {
            color: #888
        }

    .modal.modal-primary .modal-dialog .modal-content .modal-header .modal-title {
        padding: 16px 24px;
        padding: 1.6rem 2.4rem;
        vertical-align: middle
    }

.btn-block {
    text-transform: uppercase;
    padding: 8px 30px;
}
