<appSettings>
	<!-- Google-->
	<add key="mapsAPIKey" value="yourmapskeyvalue" />
	<!--HEE Azure Settings-->
	<add key="ida:ClientId" value="" />
	<add key="ida:ClientSecret" value="" />
	<!--NHSmail Settings
		<add key="ida:ClientId" value="" />
		<add key="ida:ClientSecret" value="" />-->
</appSettings>