USE [mbdbx101]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfficeVersions](
	[OfficeVersionID] [int] IDENTITY(1,1) NOT NULL,
	[OfficeVersion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OfficeVersions] PRIMARY KEY CLUSTERED 
(
	[OfficeVersionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
