USE [mbdbx101]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomPrompts](
	[CustomPromptID] [int] IDENTITY(1,1) NOT NULL,
	[CustomPrompt] [nvarchar](100) NULL,
	[Active] [bit] NOT NULL CONSTRAINT [DF_CustomPrompts_Active]  DEFAULT ((1)),
 CONSTRAINT [PK_CustomPrompts] PRIMARY KEY CLUSTERED 
(
	[CustomPromptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
