USE [mbdbx101]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileGroupFiles](
	[FileGroupFileID] [int] IDENTITY(1,1) NOT NULL,
	[FileGroupID] [int] NOT NULL,
	[FileID] [int] NOT NULL,
 CONSTRAINT [PK_FileGroupFiles] PRIMARY KEY CLUSTERED 
(
	[FileGroupFileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
