USE [mbdbx101]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgressKeyCheckLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LPGUID] [uniqueidentifier] NULL,
	[ProgressID] [int] NULL,
	[ReturnVal] [int] NULL,
 CONSTRAINT [PK_ProgressKeyCheckLog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
