USE [mbdbx101]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Browsers](
	[BrowserID] [int] IDENTITY(1,1) NOT NULL,
	[Browser] [nvarchar](50) NULL,
 CONSTRAINT [PK_Browsers] PRIMARY KEY CLUSTERED 
(
	[BrowserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
