USE [mbdbx101]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearnerPortalProgressKeys](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LPGUID] [uniqueidentifier] NOT NULL,
	[ProgressID] [int] NOT NULL,
 CONSTRAINT [PK_LearnerPortalProgressKeys] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LearnerPortalProgressKeys] ADD  CONSTRAINT [DF_LearnerPortalProgressKeys_LPGUID]  DEFAULT (newid()) FOR [LPGUID]
GO
