USE [mbdbx101]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANotificationAcknowledgements](
	[AcknolwedgementID] [int] IDENTITY(1,1) NOT NULL,
	[SANotificationID] [int] NOT NULL,
	[AdminUserID] [int] NOT NULL,
 CONSTRAINT [PK_SANotificationAcknowledgements] PRIMARY KEY CLUSTERED 
(
	[AcknolwedgementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
