USE [mbdbx101]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kevin Whittaker
-- Create date: 10/03/2020
-- Description:	Inserts a progress contributor record and sends invite email
-- =============================================
CREATE PROCEDURE [dbo].[InsertProgressContributor]
	-- Add the parameters for the stored procedure here
	@CandidateID int,
	@Active bit,
	@ContributorRoleID int,
	@ProgressID int,
	@LastAccess datetime,
	@TrackingUrl nvarchar(500)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	

INSERT INTO [dbo].[ProgressContributors]
           ([ProgressID]
           ,[CandidateID]
           ,[ContributorRoleID]
		   ,[Active])
     VALUES
           (@ProgressID,
		   @CandidateID,
		   @ContributorRoleID,
		   @Active)

		   DECLARE @_PCID as Integer
		   SET @_PCID = SCOPE_IDENTITY()
DECLARE @_EmailProfile varchar(100)
SET @_EmailProfile = N'ITSPMailProfile'
	 DECLARE @_EmailTo varchar(100)
	 	 DECLARE @_FirstName varchar(100)
	 DECLARE @_LastName varchar(100)
	  DECLARE @_Course varchar(255)
	  DECLARE @_Role varchar(50)
	  DECLARE @_AssignedBy as varchar(600)
	  DECLARE @_CustomisationID as int
	  SELECT @_AssignedBy = Firstname + ' ' + Lastname + '(<a href=mailto:"' + EmailAddress +'">' + EmailAddress + '</a>)', @_CustomisationID = pr.CustomisationID FROM Candidates as ca INNER JOIN Progress as pr ON pr.CandidateID = ca.CandidateID WHERE ProgressID = @ProgressID
	 SELECT @_EmailTo = EmailAddress, @_FirstName = FirstName, @_LastName = LastName FROM Candidates WHERE (CandidateID = @CandidateID)
	 SELECT @_Course = a.ApplicationName + ' - ' + cu.CustomisationName FROM Progress as p INNER JOIN Customisations as cu on p.CustomisationID = cu.CustomisationID INNER JOIN Applications as a on cu.ApplicationID = a.ApplicationID WHERE p.ProgressID = @ProgressID
	 SELECT @_Role = ContributorRole from ContributorRoles WHERE @ContributorRoleID = @ContributorRoleID
	 DECLARE @bodyHTML  NVARCHAR(MAX)
	  SET @bodyHTML = N'<body style=''font-family: Calibri; font-size: small;''><p>Dear ' + @_FirstName + '</p>' +
	N'<p>' + @_AssignedBy +' has assigned you the role of ' + @_Role + ' for the activity ' +@_Course + ' in the Digital Learning Solutions (DLS) platform.' +
	N'<p>To contribute to this activity <a href=''' + @TrackingUrl + '/learn?customisationid=' +CONVERT(varchar(50), @_CustomisationID) + '&pcid=' + CONVERT(varchar(50), @_PCID) + '''>click here</a>.</p>' +
	N'<p>If you have any queries about why you have been assigned this role, please contact ' + @_AssignedBy + '.</p>' +
	N'<p>This email was generated by the DLS system.</p></body>';	
	INSERT INTO EmailOut (EmailTo, EmailFrom, [Subject], BodyHTML, AddedByProcess) VALUES (@_EmailTo, 'DLS Notifications <noreply@itskills.nhs.uk>', 'DLS Activity Contributor Role Granted', @bodyHTML, 'InsertProgressContributor')
	--EXEC msdb.dbo.sp_send_dbmail @profile_name=@_EmailProfile, @recipients=@_EmailTo, @from_address = 'DLS Notifications <noreply@itskills.nhs.uk>', @subject = 'DLS Activity Contributor Role Granted', @body = @bodyHTML, @body_format = 'HTML' ;	
	SELECT @_PCID
	Return @_PCID
END
GO
