USE [mbdbx101]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pwVisits](
	[VisitID] [int] IDENTITY(1,1) NOT NULL,
	[VisitIP] [varchar](25) NULL,
	[VisitDate] [datetime] NOT NULL,
 CONSTRAINT [PK_pwVisits] PRIMARY KEY CLUSTERED 
(
	[VisitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pwVisits] ADD  CONSTRAINT [DF_pwVisits_VisitDate]  DEFAULT (getutcdate()) FOR [VisitDate]
GO
