USE [mbdbx101]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hugh Gibson
-- Create date: 9th September 2010
-- Description:	Gives standard Customisation text for Elite
-- =============================================
CREATE FUNCTION [dbo].[GetStandardCustomisationTextByApp]
(
@ApplicationID int
)
RETURNS varchar(max)
AS
BEGIN
DECLARE @RetVal varchar(max)
SET @RetVal = ''
IF @ApplicationID = 1
begin
	SET @RetVal = '[#FolderPath: "Save Data\", #volume: 100, #MailAddress: "", #TextColor: "Default", #TextBkgColor: "Default", #fontSize: 14, #Office: 2003, #VO: 1, #AssessOn: 1, #LearnOn: 1, #AssessSelect: 1, #PLAssess:1, #LearnThresh:0, #DiagThresh:90, #ContentList: [[#Section: 0, #SecName: "How to use these tutorials", "LearnOn": 1, "AssessOn": 0, #Objectives: [[#ObjNum: 0, #ObjName: "How to use these tutorials", "LearnOn": 1, #AssessOn: 0, #AssessOutOf: 0, #LearnMins: 5, #AssessSecs: 0]]], [#Section: 1, #SecName: "Mouse skills", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 1, #ObjName: "Pointing devices", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 4, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 2, #ObjName: "Moving the mouse and clicking", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 10, #AssessSecs: 20], [#ObjNum: 3, #ObjName: "Double clicking", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 5, #AssessSecs: 20], [#ObjNum: 4, #ObjName: "Dragging", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 8, #AssessSecs: 30], [#ObjNum: 5, #ObjName: "Scrolling", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 6, #AssessSecs: 20], [#ObjNum: 6, #ObjName: "Right clicking", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 6, #AssessSecs: 25], [#ObjNum: 89, #ObjName: "Drawing*", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 10, #AssessSecs: 40]]], [#Section: 2, #SecName: "Keyboard skills", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 7, #ObjName: "Text entry devices", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 4, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 8, #ObjName: "Letters and numbers", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 10, #AssessSecs: 180], [#ObjNum: 9, #ObjName: "Capital letters", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 5, #AssessSecs: 180], [#ObjNum: 10, #ObjName: "The text entry cursor", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 6, #AssessSecs: 40], [#ObjNum: 11, #ObjName: "Punctuation and symbols", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 10, #LearnMins: 6, #AssessSecs: 120], [#ObjNum: 12, #ObjName: "The Return key", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 13, #ObjName: "Backspace and Delete", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 14, #ObjName: "The Tab key", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 4, #AssessSecs: 45], [#ObjNum: 15, #ObjName: "Useful keys / key combinations", "LearnOn": 1, "AssessOn": 0, #AssessOutOf: 0, #LearnMins: 4, #AssessSecs: 0]]], [#Section: 3, #SecName: "Switching on and off", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 16, #ObjName: "Power switches and switching on", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 3, #AssessSecs: 40], [#ObjNum: 17, #ObjName: "Logging on", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 5, #AssessSecs: 45], [#ObjNum: 18, #ObjName: "Changing your password", "LearnOn": 1, "AssessOn": 0, #AssessOutOf: 0, #LearnMins: 5, #AssessSecs: 0], [#ObjNum: 19, #ObjName: "Smartcards", "LearnOn": 1, "AssessOn": 0, #AssessOutOf: 0, #LearnMins: 3, #AssessSecs: 0], [#ObjNum: 20, #ObjName: "Locking the computer", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 21, #ObjName: "Logging off", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 3, #AssessSecs: 40], [#ObjNum: 22, #ObjName: "Restarting", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 3, #AssessSecs: 30], [#ObjNum: 23, #ObjName: "Shutting down", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 3, #AssessSecs: 30]]], [#Section: 4, #SecName: "Using Windows", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 24, #ObjName: "The Desktop", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 6, #LearnMins: 5, #AssessSecs: 40], [#ObjNum: 25, #ObjName: "The Start Menu", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 4, #AssessSecs: 30], [#ObjNum: 26, #ObjName: "Parts of a window", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 5, #LearnMins: 5, #AssessSecs: 40], [#ObjNum: 27, #ObjName: "Maximise, minimise, close, restore", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 10, #LearnMins: 8, #AssessSecs: 60], [#ObjNum: 28, #ObjName: "Moving a window", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 4, #AssessSecs: 30], [#ObjNum: 29, #ObjName: "Resizing a window", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 4, #AssessSecs: 30]]], [#Section: 5, #SecName: "Working with applications", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 30, #ObjName: "Applications", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 6, #LearnMins: 7, #AssessSecs: 40], [#ObjNum: 31, #ObjName: "Starting applications", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 5, #LearnMins: 7, #AssessSecs: 30], [#ObjNum: 32, #ObjName: "Toolbars", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 7, #AssessSecs: 20], [#ObjNum: 33, #ObjName: "Menus", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 7, #AssessSecs: 25], [#ObjNum: 88, #ObjName: "The application ribbon", "LearnOn": 0, "AssessOn": 0, #AssessOutOf: 2, #LearnMins: 8, #AssessSecs: 30], [#ObjNum: 34, #ObjName: "Context menus", "LearnOn": 1, "AssessOn": 0, #AssessOutOf: 0, #LearnMins: 7, #AssessSecs: 0], [#ObjNum: 35, #ObjName: "Working with dialogue boxes", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 12, #AssessSecs: 45], [#ObjNum: 36, #ObjName: "Save and Save as", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 18, #AssessSecs: 45], [#ObjNum: 37, #ObjName: "Opening files", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 12, #AssessSecs: 25], [#ObjNum: 38, #ObjName: "Page Setup and printing", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 12, #AssessSecs: 40], [#ObjNum: 39, #ObjName: "Accessing Help", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 12, #AssessSecs: 20], [#ObjNum: 40, #ObjName: "Switching between windows", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 7, #AssessSecs: 25], [#ObjNum: 41, #ObjName: "Selecting text", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 12, #AssessSecs: 30], [#ObjNum: 42, #ObjName: "Overtyping", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 7, #AssessSecs: 30], [#ObjNum: 43, #ObjName: "Cut, Copy and Paste", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 18, #AssessSecs: 40], [#ObjNum: 44, #ObjName: "Using Undo", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 7, #AssessSecs: 20], [#ObjNum: 45, #ObjName: "Working with tables", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 18, #AssessSecs: 45], [#ObjNum: 46, #ObjName: "Using Task Manager", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 12, #AssessSecs: 40]]], [#Section: 6, #SecName: "File management", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 47, #ObjName: "The filing system", "LearnOn": 1, "AssessOn": 0, #AssessOutOf: 0, #LearnMins: 12, #AssessSecs: 0], [#ObjNum: 48, #ObjName: "The My Computer window", "LearnOn": 1, "AssessOn": 0, #AssessOutOf: 0, #LearnMins: 7, #AssessSecs: 15], [#ObjNum: 49, #ObjName: "Changing views", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 7, #AssessSecs: 30], [#ObjNum: 50, #ObjName: "Locating your network drive", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 7, #AssessSecs: 30], [#ObjNum: 51, #ObjName: "Working with folder Explorer view", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 12, #AssessSecs: 25], [#ObjNum: 52, #ObjName: "Finding files and folders", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 12, #AssessSecs: 45], [#ObjNum: 53, #ObjName: "Sorting files", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 7, #AssessSecs: 30], [#ObjNum: 54, #ObjName: "Creating folders", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 12, #AssessSecs: 40], [#ObjNum: 55, #ObjName: "Moving and copying files", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 18, #AssessSecs: 30], [#ObjNum: 56, #ObjName: "Renaming files and folders", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 8, #AssessSecs: 30], [#ObjNum: 57, #ObjName: "Deleting files", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 7, #AssessSecs: 30], [#ObjNum: 58, #ObjName: "Restoring files from the Recycle Bin", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 59, #ObjName: "Emptying the Recycle Bin", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 5, #AssessSecs: 25]]], [#Section: 7, #SecName: "Web skills", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 60, #ObjName: "Introducing Web browsers", "LearnOn": 1, "AssessOn": 0, #AssessOutOf: 0, #LearnMins: 5, #AssessSecs: 0], [#ObjNum: 61, #ObjName: "Using Web addresses", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 8, #AssessSecs: 30], [#ObjNum: 62, #ObjName: "Finding and following links", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 7, #AssessSecs: 25], [#ObjNum: 63, #ObjName: "Searching the Web", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 8, #AssessSecs: 30], [#ObjNum: 64, #ObjName: "Using Web forms", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 5, #LearnMins: 12, #AssessSecs: 40]]], [#Section: 8, #SecName: "E-mail skills", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 65, #ObjName: "Introducing e-mail", "LearnOn": 1, "AssessOn": 0, #AssessOutOf: 0, #LearnMins: 5, #AssessSecs: 0], [#ObjNum: 66, #ObjName: "Opening and closing messages", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 6, #AssessSecs: 40], [#ObjNum: 67, #ObjName: "Replying and forwarding", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 5, #LearnMins: 8, #AssessSecs: 60], [#ObjNum: 68, #ObjName: "Sending messages", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 5, #LearnMins: 8, #AssessSecs: 60], [#ObjNum: 69, #ObjName: "Deleting messages", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 70, #ObjName: "Emptying Deleted Items", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 4, #AssessSecs: 30], [#ObjNum: 71, #ObjName: "Sorting messages", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 8, #AssessSecs: 40], [#ObjNum: 72, #ObjName: "Organising messages", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 12, #AssessSecs: 40], [#ObjNum: 73, #ObjName: "Creating Contacts", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 12, #AssessSecs: 50], [#ObjNum: 74, #ObjName: "Using the Address Book", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 4, #LearnMins: 12, #AssessSecs: 50], [#ObjNum: 75, #ObjName: "Working with attachments", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 4, #LearnMins: 12, #AssessSecs: 60], [#ObjNum: 76, #ObjName: "Adding attachments", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 8, #AssessSecs: 45]]], [#Section: 9, #SecName: "Word processing +", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 77, #ObjName: "Introduction to Word Processing", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 5, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 78, #ObjName: "Working with Templates", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 12, #AssessSecs: 50], [#ObjNum: 79, #ObjName: "Text formatting", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 5, #LearnMins: 15, #AssessSecs: 50], [#ObjNum: 80, #ObjName: "Layout formatting", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 7, #LearnMins: 15, #AssessSecs: 60], [#ObjNum: 81, #ObjName: "Finding and replacing text", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 7, #AssessSecs: 30], [#ObjNum: 82, #ObjName: "Page layout", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 9, #AssessSecs: 40], [#ObjNum: 83, #ObjName: "Inserting pictures and objects", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 15, #AssessSecs: 45], [#ObjNum: 84, #ObjName: "Spell checking and proof-reading", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 6, #AssessSecs: 30]]], [#Section: 10, #SecName: "Working safely +", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 85, #ObjName: "Understanding the risks", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 4, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 86, #ObjName: "Setting up your workstation", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 14, #AssessSecs: 40], [#ObjNum: 87, #ObjName: "Routine maintenance", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 4, #LearnMins: 6, #AssessSecs: 30]]]]]'
	end
	if @ApplicationID = 2
	begin
	SET @RetVal = '[#TextColor: "Default", #TextBkgColor: "Default", #fontSize: 14, #AssessOn: 1, #LearnOn: 1, #AssessSelect: 1, #PLAssess:1, #LearnThresh:0, #DiagThresh:90, #ContentList: [[#Section: 0, #SecName: "How to use these tutorials", "LearnOn": 1, "AssessOn": 0, #Objectives: [[#ObjNum: 0, #ObjName: "How to use these tutorials", "LearnOn": 1, #AssessOn: 0, #AssessOutOf: 0, #LearnMins: 5, #AssessSecs: 0]]], [#Section: 1, #SecName: "Mouse skills", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 1, #ObjName: "Pointing devices", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 4, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 2, #ObjName: "Moving the mouse and clicking", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 10, #AssessSecs: 20], [#ObjNum: 3, #ObjName: "Double clicking", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 5, #AssessSecs: 20], [#ObjNum: 4, #ObjName: "Dragging", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 8, #AssessSecs: 30], [#ObjNum: 5, #ObjName: "Scrolling", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 6, #AssessSecs: 20], [#ObjNum: 6, #ObjName: "Right clicking", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 6, #AssessSecs: 25], [#ObjNum: 89, #ObjName: "Drawing", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 10, #AssessSecs: 40]]], [#Section: 2, #SecName: "Keyboard skills", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 7, #ObjName: "Text entry devices", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 4, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 8, #ObjName: "Letters and numbers", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 10, #AssessSecs: 180], [#ObjNum: 9, #ObjName: "Capital letters", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 5, #AssessSecs: 180], [#ObjNum: 10, #ObjName: "The text entry cursor", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 6, #AssessSecs: 40], [#ObjNum: 11, #ObjName: "Punctuation and symbols", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 10, #LearnMins: 6, #AssessSecs: 120], [#ObjNum: 12, #ObjName: "The Return key", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 13, #ObjName: "Backspace and Delete", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 14, #ObjName: "The Tab key", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 4, #AssessSecs: 45], [#ObjNum: 15, #ObjName: "Useful keys / key combinations", "LearnOn": 1, "AssessOn": 0, #AssessOutOf: 0, #LearnMins: 4, #AssessSecs: 0]]], [#Section: 3, #SecName: "Switching on and off", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 16, #ObjName: "Power switches and switching on", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 3, #AssessSecs: 40], [#ObjNum: 17, #ObjName: "Logging on", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 5, #AssessSecs: 45], [#ObjNum: 18, #ObjName: "Changing your password", "LearnOn": 1, "AssessOn": 0, #AssessOutOf: 0, #LearnMins: 5, #AssessSecs: 0], [#ObjNum: 19, #ObjName: "Smartcards", "LearnOn": 1, "AssessOn": 0, #AssessOutOf: 0, #LearnMins: 3, #AssessSecs: 0], [#ObjNum: 20, #ObjName: "Locking the computer", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 21, #ObjName: "Logging off", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 3, #AssessSecs: 40], [#ObjNum: 22, #ObjName: "Restarting", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 3, #AssessSecs: 30], [#ObjNum: 23, #ObjName: "Shutting down", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 3, #AssessSecs: 30]]], [#Section: 4, #SecName: "Using Windows", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 24, #ObjName: "The Desktop", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 6, #LearnMins: 5, #AssessSecs: 40], [#ObjNum: 25, #ObjName: "The Start Menu", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 4, #AssessSecs: 30], [#ObjNum: 26, #ObjName: "Parts of a window", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 5, #LearnMins: 5, #AssessSecs: 40], [#ObjNum: 27, #ObjName: "Maximise, minimise, close, restore", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 11, #LearnMins: 8, #AssessSecs: 60], [#ObjNum: 28, #ObjName: "Moving a window", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 4, #AssessSecs: 30], [#ObjNum: 29, #ObjName: "Resizing a window", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 4, #AssessSecs: 30]]], [#Section: 5, #SecName: "Working with applications", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 30, #ObjName: "Applications", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 6, #LearnMins: 7, #AssessSecs: 40], [#ObjNum: 31, #ObjName: "Starting applications", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 5, #LearnMins: 7, #AssessSecs: 30], [#ObjNum: 32, #ObjName: "Toolbars", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 7, #AssessSecs: 20], [#ObjNum: 33, #ObjName: "Menus", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 7, #AssessSecs: 25], [#ObjNum: 88, #ObjName: "The ribbon", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 8, #AssessSecs: 30], [#ObjNum: 34, #ObjName: "Context menus", "LearnOn": 1, "AssessOn": 0, #AssessOutOf: 0, #LearnMins: 7, #AssessSecs: 0], [#ObjNum: 35, #ObjName: "Working with dialogue boxes", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 12, #AssessSecs: 45], [#ObjNum: 36, #ObjName: "Save and Save as", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 18, #AssessSecs: 45], [#ObjNum: 37, #ObjName: "Opening files", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 12, #AssessSecs: 25], [#ObjNum: 38, #ObjName: "Page Setup and printing", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 12, #AssessSecs: 40], [#ObjNum: 39, #ObjName: "Accessing Help", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 12, #AssessSecs: 20], [#ObjNum: 40, #ObjName: "Switching between windows", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 7, #AssessSecs: 25], [#ObjNum: 41, #ObjName: "Selecting text", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 12, #AssessSecs: 30], [#ObjNum: 42, #ObjName: "Overtyping", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 7, #AssessSecs: 30], [#ObjNum: 43, #ObjName: "Cut, Copy and Paste", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 18, #AssessSecs: 40], [#ObjNum: 44, #ObjName: "Using Undo", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 7, #AssessSecs: 20], [#ObjNum: 45, #ObjName: "Working with tables", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 18, #AssessSecs: 45], [#ObjNum: 46, #ObjName: "Using Task Manager", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 12, #AssessSecs: 40]]], [#Section: 6, #SecName: "File management", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 47, #ObjName: "The filing system", "LearnOn": 1, "AssessOn": 0, #AssessOutOf: 0, #LearnMins: 12, #AssessSecs: 0], [#ObjNum: 48, #ObjName: "The Computer window", "LearnOn": 1, "AssessOn": 0, #AssessOutOf: 0, #LearnMins: 7, #AssessSecs: 15], [#ObjNum: 49, #ObjName: "Changing views", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 7, #AssessSecs: 30], [#ObjNum: 50, #ObjName: "Locating your network drive", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 7, #AssessSecs: 30], [#ObjNum: 51, #ObjName: "Exploring files and folders", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 12, #AssessSecs: 25], [#ObjNum: 52, #ObjName: "Finding files and folders", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 12, #AssessSecs: 45], [#ObjNum: 53, #ObjName: "Sorting files", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 7, #AssessSecs: 30], [#ObjNum: 54, #ObjName: "Creating folders", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 12, #AssessSecs: 40], [#ObjNum: 55, #ObjName: "Moving and copying files", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 18, #AssessSecs: 30], [#ObjNum: 56, #ObjName: "Renaming files and folders", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 8, #AssessSecs: 30], [#ObjNum: 57, #ObjName: "Deleting files", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 7, #AssessSecs: 30], [#ObjNum: 58, #ObjName: "Restoring files from the Recycle Bin", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 59, #ObjName: "Emptying the Recycle Bin", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 5, #AssessSecs: 25]]], [#Section: 7, #SecName: "Web skills", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 60, #ObjName: "Introducing Web browsers", "LearnOn": 1, "AssessOn": 0, #AssessOutOf: 0, #LearnMins: 5, #AssessSecs: 0], [#ObjNum: 61, #ObjName: "Using Web addresses", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 8, #AssessSecs: 30], [#ObjNum: 62, #ObjName: "Finding and following links", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 7, #AssessSecs: 25], [#ObjNum: 63, #ObjName: "Searching the Web", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 8, #AssessSecs: 30], [#ObjNum: 64, #ObjName: "Using Web forms", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 5, #LearnMins: 12, #AssessSecs: 40]]], [#Section: 8, #SecName: "E-mail skills", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 65, #ObjName: "Introducing e-mail", "LearnOn": 1, "AssessOn": 0, #AssessOutOf: 0, #LearnMins: 5, #AssessSecs: 0], [#ObjNum: 66, #ObjName: "Opening and closing messages", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 6, #AssessSecs: 40], [#ObjNum: 67, #ObjName: "Replying and forwarding", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 5, #LearnMins: 8, #AssessSecs: 60], [#ObjNum: 68, #ObjName: "Sending messages", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 5, #LearnMins: 8, #AssessSecs: 60], [#ObjNum: 69, #ObjName: "Deleting messages", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 70, #ObjName: "Emptying Deleted Items", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 4, #AssessSecs: 30], [#ObjNum: 71, #ObjName: "Sorting messages", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 8, #AssessSecs: 40], [#ObjNum: 72, #ObjName: "Organising messages", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 12, #AssessSecs: 40], [#ObjNum: 73, #ObjName: "Creating Contacts", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 12, #AssessSecs: 50], [#ObjNum: 74, #ObjName: "Using the Address Book", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 4, #LearnMins: 12, #AssessSecs: 50], [#ObjNum: 75, #ObjName: "Working with attachments", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 4, #LearnMins: 12, #AssessSecs: 60], [#ObjNum: 76, #ObjName: "Adding attachments", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 8, #AssessSecs: 45]]], [#Section: 9, #SecName: "Word processing +", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 77, #ObjName: "Introduction to Word Processing", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 5, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 78, #ObjName: "Working with Templates", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 3, #LearnMins: 12, #AssessSecs: 50], [#ObjNum: 79, #ObjName: "Text formatting", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 5, #LearnMins: 15, #AssessSecs: 50], [#ObjNum: 80, #ObjName: "Layout formatting", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 7, #LearnMins: 15, #AssessSecs: 60], [#ObjNum: 81, #ObjName: "Finding and replacing text", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 7, #AssessSecs: 30], [#ObjNum: 82, #ObjName: "Page layout", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 9, #AssessSecs: 40], [#ObjNum: 83, #ObjName: "Inserting pictures and objects", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 2, #LearnMins: 15, #AssessSecs: 45], [#ObjNum: 84, #ObjName: "Spell checking and proof-reading", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 6, #AssessSecs: 30]]], [#Section: 10, #SecName: "Working safely +", "LearnOn": 1, "AssessOn": 1, #Objectives: [[#ObjNum: 85, #ObjName: "Understanding the risks", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 4, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 86, #ObjName: "Setting up your workstation", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 1, #LearnMins: 14, #AssessSecs: 40], [#ObjNum: 87, #ObjName: "Routine maintenance", "LearnOn": 1, "AssessOn": 1, #AssessOutOf: 4, #LearnMins: 6, #AssessSecs: 30]]]]]'
END
if @ApplicationID = 3
BEGIN
SET @RetVal = '[#AppTitle: "Ready for MOST - Microsoft Word 2007", #TextColor: "Default", #TextBkgColor: "Default", #fontSize: 14, #AssessOn: 1, #LearnOn: 1, #AssessSelect: 1, #PLAssess: -1, #LearnThresh: 0, #DiagThresh: 85, #ContentList: [[#Section: 2, #SecName: "Getting started with Word", #movieName: "rfm_word07_1", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 5, #ObjName: "Working with text", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 4, #LearnMins: 15, #AssessSecs: 30], [#ObjNum: 6, #ObjName: "Working with documents", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 8, #LearnMins: 25, #AssessSecs: 30], [#ObjNum: 7, #ObjName: "Changing the view of a document", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 10, #AssessSecs: 30]]], [#Section: 3, #SecName: "Manipulating text", #movieName: "rfm_word07_2", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 8, #ObjName: "Selecting text", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 12, #AssessSecs: 30], [#ObjNum: 9, #ObjName: "Undo and redo", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 9, #AssessSecs: 30], [#ObjNum: 62, #ObjName: "Using the clipboard", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 24, #AssessSecs: 30], [#ObjNum: 10, #ObjName: "Formatting text", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 11, #ObjName: "Aligning text", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 12, #ObjName: "Borders and shading", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 18, #AssessSecs: 30], [#ObjNum: 13, #ObjName: "Using Format Painter", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 14, #ObjName: "Setting tabs", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 30, #AssessSecs: 30], [#ObjNum: 15, #ObjName: "Indenting paragraphs", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 11, #AssessSecs: 30], [#ObjNum: 16, #ObjName: "Bullets and Numbering", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 16, #AssessSecs: 30], [#ObjNum: 17, #ObjName: "Paragraph formatting", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 11, #AssessSecs: 30], [#ObjNum: 63, #ObjName: "Page formatting", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 18, #AssessSecs: 30], [#ObjNum: 18, #ObjName: "Inserting special characters, symbols and dates", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 12, #AssessSecs: 30]]], [#Section: 4, #SecName: "Proofing and printing", #movieName: "rfm_word07_3", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 19, #ObjName: "Spell-checking your document", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 21, #AssessSecs: 30], [#ObjNum: 64, #ObjName: "Using the Thesaurus", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 20, #ObjName: "Using Find and Replace", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 18, #AssessSecs: 30], [#ObjNum: 21, #ObjName: "Printing documents", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 15, #AssessSecs: 30]]], [#Section: 5, #SecName: "Layout and formatting", #movieName: "rfm_word07_4", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 22, #ObjName: "Inserting page and section breaks", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 17, #AssessSecs: 30], [#ObjNum: 23, #ObjName: "Working with headers and footers", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 4, #LearnMins: 11, #AssessSecs: 30], [#ObjNum: 24, #ObjName: "Using Publishing Format tools and Styles", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 8, #LearnMins: 19, #AssessSecs: 30], [#ObjNum: 25, #ObjName: "Outlining your document", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 16, #AssessSecs: 30], [#ObjNum: 26, #ObjName: "Creating footnotes and endnotes", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 4, #LearnMins: 13, #AssessSecs: 30]]], [#Section: 6, #SecName: "Working with objects", #movieName: "rfm_word07_5", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 27, #ObjName: "Working with pictures", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 8, #LearnMins: 15, #AssessSecs: 30], [#ObjNum: 28, #ObjName: "Manipulating pictures", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 7, #LearnMins: 23, #AssessSecs: 30], [#ObjNum: 29, #ObjName: "Using the drawing canvas and drawing shapes", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 16, #AssessSecs: 30], [#ObjNum: 88, #ObjName: "Working with other objects", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 14, #AssessSecs: 30]]], [#Section: 7, #SecName: "Working with tables", #movieName: "rfm_word07_6", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 30, #ObjName: "Inserting tables", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 20, #AssessSecs: 30], [#ObjNum: 31, #ObjName: "Formatting tables", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 17, #AssessSecs: 30], [#ObjNum: 32, #ObjName: "Adjusting tables", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 24, #AssessSecs: 30], [#ObjNum: 33, #ObjName: "Converting and sorting", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 17, #AssessSecs: 30]]], [#Section: 8, #SecName: "Collaboration tools", #movieName: "rfm_word07_7", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 34, #ObjName: "Working with others", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 6, #LearnMins: 26, #AssessSecs: 30]]]]]'
END
if @ApplicationID = 7
BEGIN
SET @RetVal = '[#AppTitle: "Ready for MOST - Microsoft PowerPoint 2007", #TextColor: "Default", #TextBkgColor: "Default", #fontSize: 14, #AssessOn: 1, #LearnOn: 1, #AssessSelect: 1, #PLAssess: -1, #LearnThresh: 0, #DiagThresh: 85, #ContentList: [[#Section: 1, #SecName: "Getting Started with PowerPoint", #movieName: "rfm_powerpoint07_1", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 36, #ObjName: "Basic concepts", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 9, #AssessSecs: 30], [#ObjNum: 37, #ObjName: "Creating presentations", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 4, #AssessSecs: 30], [#ObjNum: 38, #ObjName: "Entering text in the Outline tab and Slide pane", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 13, #AssessSecs: 30], [#ObjNum: 39, #ObjName: "Working with presentations", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 40, #ObjName: "Displaying information in the presentation", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 0, #LearnMins: 10, #AssessSecs: 30]]], [#Section: 9, #SecName: "Setting up the presentation", #movieName: "rfm_powerpoint07_2", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 41, #ObjName: "Creating a Master slide", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 42, #ObjName: "Inserting headers and footers", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 43, #ObjName: "Managing the slides", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 7, #LearnMins: 20, #AssessSecs: 30]]], [#Section: 10, #SecName: "Working with text", #movieName: "rfm_powerpoint07_3", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 44, #ObjName: "Selecting and editing text", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 11, #AssessSecs: 30], [#ObjNum: 45, #ObjName: "Manipulating text", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 18, #AssessSecs: 30], [#ObjNum: 46, #ObjName: "Checking the spelling", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 9, #AssessSecs: 30]]], [#Section: 11, #SecName: "Formatting text", #movieName: "rfm_powerpoint07_4", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 47, #ObjName: "Understanding formatting", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 48, #ObjName: "Aligning text", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 49, #ObjName: "Changing bulleted information", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 20, #AssessSecs: 30]]], [#Section: 12, #SecName: "Working with objects", #movieName: "rfm_powerpoint07_5", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 50, #ObjName: "Using Clip Art", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 16, #AssessSecs: 30], [#ObjNum: 51, #ObjName: "Using graphics", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 0, #LearnMins: 9, #AssessSecs: 30], [#ObjNum: 52, #ObjName: "Working with tables", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 8, #LearnMins: 19, #AssessSecs: 30], [#ObjNum: 53, #ObjName: "Working with charts", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 29, #AssessSecs: 30], [#ObjNum: 54, #ObjName: "Working with objects", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 21, #AssessSecs: 30]]], [#Section: 13, #SecName: "Enhancing the presentation", #movieName: "rfm_powerpoint07_6", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 55, #ObjName: "Changing the background colour", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 56, #ObjName: "Adding animation", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 28, #AssessSecs: 30], [#ObjNum: 61, #ObjName: "Understanding motion paths", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 0, #LearnMins: 10, #AssessSecs: 0], [#ObjNum: 57, #ObjName: "Adding slide transitions", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 11, #AssessSecs: 30]]], [#Section: 14, #SecName: "Bringing it all together", #movieName: "rfm_powerpoint07_7", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 58, #ObjName: "Printing the presentation", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 59, #ObjName: "Creating notes and handouts", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 20, #AssessSecs: 30], [#ObjNum: 60, #ObjName: "Running and viewing the presentation", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 16, #AssessSecs: 30]]]]]'
END
if @ApplicationID = 8
BEGIN
SET @RetVal = '[#AppTitle: "Ready for MOST - Microsoft Excel 2007", #TextColor: "Default", #TextBkgColor: "Default", #fontSize: 14, #AssessOn: 1, #LearnOn: 1, #AssessSelect: 1, #PLAssess: -1, #LearnThresh: 0, #DiagThresh: 85, #ContentList: [[#Section: 15, #SecName: "Getting Started with Excel", #movieName: "rfm_excel07_1", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 65, #ObjName: "Basic Concepts", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 66, #ObjName: "Working with Workbooks", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 8, #LearnMins: 18, #AssessSecs: 30], [#ObjNum: 67, #ObjName: "Managing your files", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 4, #AssessSecs: 30], [#ObjNum: 68, #ObjName: "Entering data in the Worksheet", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 4, #LearnMins: 9, #AssessSecs: 30]]], [#Section: 16, #SecName: "Manipulating the information", #movieName: "rfm_excel07_2", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 69, #ObjName: "Selecting cells", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 70, #ObjName: "Modifying data", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 6, #LearnMins: 11, #AssessSecs: 30], [#ObjNum: 71, #ObjName: "Copying, moving and Auto-Filling data", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 11, #AssessSecs: 30], [#ObjNum: 72, #ObjName: "Sorting data", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 73, #ObjName: "Adjusting rows and columns", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 16, #AssessSecs: 30], [#ObjNum: 74, #ObjName: "Managing Worksheets", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 10, #AssessSecs: 30]]], [#Section: 17, #SecName: "Working with formulas", #movieName: "rfm_excel07_3", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 75, #ObjName: "Creating simple formulas", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 6, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 76, #ObjName: "Using common built-in functions", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 77, #ObjName: "Using absolute and relative addresses", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 78, #ObjName: "Being careful with formulas", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 4, #AssessSecs: 30]]], [#Section: 18, #SecName: "Formatting a Worksheet", #movieName: "rfm_excel07_4", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 79, #ObjName: "Formatting cell contents", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 4, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 80, #ObjName: "Borders, shading and Styles", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 18, #AssessSecs: 30]]], [#Section: 19, #SecName: "Working with charts", #movieName: "rfm_excel07_5", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 81, #ObjName: "Understanding charts", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 12, #AssessSecs: 30], [#ObjNum: 82, #ObjName: "Changing the chart layout", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 10, #AssessSecs: 30]]], [#Section: 20, #SecName: "Proofing and printing", #movieName: "rfm_excel07_6", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 83, #ObjName: "Spell checking", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 4, #AssessSecs: 30], [#ObjNum: 84, #ObjName: "Previewing the Worksheet", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 85, #ObjName: "Adding and removing page breaks", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 86, #ObjName: "Customising the printout", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 25, #AssessSecs: 30], [#ObjNum: 87, #ObjName: "Printing the worksheet", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 6, #AssessSecs: 30]]]]]'
END
if @ApplicationID = 9
BEGIN
SET @RetVal = '[#AppTitle: "Ready for MOST - Office 2007 Essentials", #TextColor: "Default", #TextBkgColor: "Default", #fontSize: 14, #AssessOn: 1, #LearnOn: 1, #AssessSelect: 1, #PLAssess: -1, #LearnThresh: 0, #DiagThresh: 85, #ContentList: [[#Section: 21, #SecName: "Getting started with programs", #movieName: "rfm_essentials07_1", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 89, #ObjName: "Common Screen Elements", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 4, #LearnMins: 9, #AssessSecs: 30], [#ObjNum: 90, #ObjName: "Starting and closing applications", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 4, #LearnMins: 8, #AssessSecs: 30], [#ObjNum: 91, #ObjName: "Using the Quick Access Toolbar", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 4, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 92, #ObjName: "Using the Ribbon", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 6, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 93, #ObjName: "Getting help", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 6, #LearnMins: 8, #AssessSecs: 30]]]]]'
END
if @ApplicationID = 10
BEGIN
SET @RetVal = '[#AppTitle: "Ready for MOST - Office 2010 Essentials", #TextColor: "Default", #TextBkgColor: "Default", #fontSize: 14, #AssessOn: 1, #LearnOn: 1, #AssessSelect: 1, #PLAssess: -1, #LearnThresh: 0, #DiagThresh: 85, #ContentList: [[#Section: 21, #SecName: "Getting started with programs", #movieName: "rfm_essentials10_1", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 89, #ObjName: "Common Screen Elements", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 4, #LearnMins: 9, #AssessSecs: 30], [#ObjNum: 90, #ObjName: "Starting and closing applications", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 4, #LearnMins: 8, #AssessSecs: 30], [#ObjNum: 91, #ObjName: "Using the Quick Access Toolbar", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 4, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 92, #ObjName: "Using the Ribbon", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 6, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 93, #ObjName: "Getting help", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 6, #LearnMins: 8, #AssessSecs: 30]]]]]'
END
if @ApplicationID = 11
BEGIN
SET @RetVal = '[#AppTitle: "Ready for MOST - Microsoft Word 2010", #TextColor: "Default", #TextBkgColor: "Default", #fontSize: 14, #AssessOn: 1, #LearnOn: 1, #AssessSelect: 1, #PLAssess: 1, #LearnThresh: 0, #DiagThresh: 85, #ContentList: [[#Section: 2, #SecName: "Getting started with Word", #movieName: "rfm_word10_1", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 5, #ObjName: "Working with text", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 4, #LearnMins: 15, #AssessSecs: 30], [#ObjNum: 6, #ObjName: "Working with documents", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 8, #LearnMins: 25, #AssessSecs: 30], [#ObjNum: 7, #ObjName: "Changing the view of a document", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 10, #AssessSecs: 30]]], [#Section: 3, #SecName: "Manipulating text", #movieName: "rfm_word10_2", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 8, #ObjName: "Selecting text", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 12, #AssessSecs: 30], [#ObjNum: 9, #ObjName: "Undo and redo", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 9, #AssessSecs: 30], [#ObjNum: 62, #ObjName: "Using the clipboard", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 24, #AssessSecs: 30], [#ObjNum: 10, #ObjName: "Formatting text", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 11, #ObjName: "Aligning text", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 12, #ObjName: "Borders and shading", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 18, #AssessSecs: 30], [#ObjNum: 13, #ObjName: "Using Format Painter", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 14, #ObjName: "Setting tabs", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 30, #AssessSecs: 30], [#ObjNum: 15, #ObjName: "Indenting paragraphs", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 11, #AssessSecs: 30], [#ObjNum: 16, #ObjName: "Bullets and Numbering", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 16, #AssessSecs: 30], [#ObjNum: 17, #ObjName: "Paragraph formatting", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 11, #AssessSecs: 30], [#ObjNum: 63, #ObjName: "Page formatting", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 18, #AssessSecs: 30], [#ObjNum: 18, #ObjName: "Inserting special characters, symbols and dates", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 12, #AssessSecs: 30]]], [#Section: 4, #SecName: "Proofing and printing", #movieName: "rfm_word10_3", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 19, #ObjName: "Spell-checking your document", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 21, #AssessSecs: 30], [#ObjNum: 64, #ObjName: "Using the Thesaurus", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 20, #ObjName: "Using Find and Replace", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 18, #AssessSecs: 30], [#ObjNum: 21, #ObjName: "Printing documents", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 15, #AssessSecs: 30]]], [#Section: 5, #SecName: "Layout and formatting", #movieName: "rfm_word10_4", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 22, #ObjName: "Inserting page and section breaks", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 17, #AssessSecs: 30], [#ObjNum: 23, #ObjName: "Working with headers and footers", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 4, #LearnMins: 11, #AssessSecs: 30], [#ObjNum: 24, #ObjName: "Using Publishing Format tools and Styles", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 8, #LearnMins: 19, #AssessSecs: 30], [#ObjNum: 25, #ObjName: "Outlining your document", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 16, #AssessSecs: 30], [#ObjNum: 26, #ObjName: "Creating footnotes and endnotes", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 4, #LearnMins: 13, #AssessSecs: 30]]], [#Section: 6, #SecName: "Working with objects", #movieName: "rfm_word10_5", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 27, #ObjName: "Working with pictures", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 8, #LearnMins: 15, #AssessSecs: 30], [#ObjNum: 28, #ObjName: "Manipulating pictures", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 7, #LearnMins: 23, #AssessSecs: 30], [#ObjNum: 29, #ObjName: "Using the drawing canvas and drawing shapes", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 16, #AssessSecs: 30], [#ObjNum: 88, #ObjName: "Working with other objects", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 14, #AssessSecs: 30]]], [#Section: 7, #SecName: "Working with tables", #movieName: "rfm_word10_6", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 30, #ObjName: "Inserting tables", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 20, #AssessSecs: 30], [#ObjNum: 31, #ObjName: "Formatting tables", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 17, #AssessSecs: 30], [#ObjNum: 32, #ObjName: "Adjusting tables", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 24, #AssessSecs: 30], [#ObjNum: 33, #ObjName: "Converting and sorting", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 17, #AssessSecs: 30]]], [#Section: 8, #SecName: "Collaboration tools", #movieName: "rfm_word10_7", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 34, #ObjName: "Working with others", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 26, #AssessSecs: 30]]]], #Q1: [#Mand: 0, #Choices: []], #Q2: [#Mand: 0, #Choices: []], #Q3: [#Mand: 0, #Choices: []], #Overview: 0, #SelfReg: 1]'
END
if @ApplicationID = 12
BEGIN
SET @RetVal = '[#AppTitle: "Ready for MOST - Microsoft PowerPoint 2010", #TextColor: "Default", #TextBkgColor: "Default", #fontSize: 14, #AssessOn: 1, #LearnOn: 1, #AssessSelect: 1, #PLAssess: -1, #LearnThresh: 0, #DiagThresh: 85, #ContentList: [[#Section: 1, #SecName: "Getting Started with PowerPoint", #movieName: "rfm_powerpoint10_1", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 36, #ObjName: "Basic concepts", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 9, #AssessSecs: 30], [#ObjNum: 37, #ObjName: "Creating presentations", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 4, #AssessSecs: 30], [#ObjNum: 38, #ObjName: "Entering text in the Outline tab and Slide pane", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 13, #AssessSecs: 30], [#ObjNum: 39, #ObjName: "Working with presentations", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 40, #ObjName: "Displaying information in the presentation", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 0, #LearnMins: 10, #AssessSecs: 30]]], [#Section: 9, #SecName: "Setting up the presentation", #movieName: "rfm_powerpoint10_2", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 41, #ObjName: "Creating a Master slide", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 42, #ObjName: "Inserting headers and footers", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 43, #ObjName: "Managing the slides", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 7, #LearnMins: 20, #AssessSecs: 30]]], [#Section: 10, #SecName: "Working with text", #movieName: "rfm_powerpoint10_3", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 44, #ObjName: "Selecting and editing text", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 11, #AssessSecs: 30], [#ObjNum: 45, #ObjName: "Manipulating text", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 18, #AssessSecs: 30], [#ObjNum: 46, #ObjName: "Checking the spelling", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 9, #AssessSecs: 30]]], [#Section: 11, #SecName: "Formatting text", #movieName: "rfm_powerpoint10_4", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 47, #ObjName: "Understanding formatting", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 48, #ObjName: "Aligning text", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 49, #ObjName: "Changing bulleted information", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 20, #AssessSecs: 30]]], [#Section: 12, #SecName: "Working with objects", #movieName: "rfm_powerpoint10_5", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 50, #ObjName: "Using Clip Art", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 16, #AssessSecs: 30], [#ObjNum: 51, #ObjName: "Using graphics", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 0, #LearnMins: 9, #AssessSecs: 30], [#ObjNum: 52, #ObjName: "Working with tables", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 8, #LearnMins: 19, #AssessSecs: 30], [#ObjNum: 53, #ObjName: "Working with charts", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 29, #AssessSecs: 30], [#ObjNum: 54, #ObjName: "Working with objects", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 21, #AssessSecs: 30]]], [#Section: 13, #SecName: "Enhancing the presentation", #movieName: "rfm_powerpoint10_6", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 55, #ObjName: "Changing the background colour", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 56, #ObjName: "Adding animation", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 28, #AssessSecs: 30], [#ObjNum: 61, #ObjName: "Understanding motion paths", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 0, #LearnMins: 10, #AssessSecs: 0], [#ObjNum: 57, #ObjName: "Adding slide transitions", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 11, #AssessSecs: 30]]], [#Section: 14, #SecName: "Bringing it all together", #movieName: "rfm_powerpoint10_7", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 58, #ObjName: "Printing the presentation", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 59, #ObjName: "Creating notes and handouts", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 20, #AssessSecs: 30], [#ObjNum: 60, #ObjName: "Running and viewing the presentation", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 16, #AssessSecs: 30]]]]]'
END
if @ApplicationID = 13
BEGIN
SET @RetVal = '[#AppTitle: "Ready for MOST - Microsoft Excel 2010", #TextColor: "Default", #TextBkgColor: "Default", #fontSize: 14, #AssessOn: 1, #LearnOn: 1, #AssessSelect: 1, #PLAssess: -1, #LearnThresh: 0, #DiagThresh: 85, #ContentList: [[#Section: 15, #SecName: "Getting Started with Excel", #movieName: "rfm_excel10_1", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 65, #ObjName: "Basic Concepts", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 66, #ObjName: "Working with Workbooks", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 8, #LearnMins: 18, #AssessSecs: 30], [#ObjNum: 67, #ObjName: "Managing your files", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 4, #AssessSecs: 30], [#ObjNum: 68, #ObjName: "Entering data in the Worksheet", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 4, #LearnMins: 9, #AssessSecs: 30]]], [#Section: 16, #SecName: "Manipulating the information", #movieName: "rfm_excel10_2", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 69, #ObjName: "Selecting cells", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 70, #ObjName: "Modifying data", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 6, #LearnMins: 11, #AssessSecs: 30], [#ObjNum: 71, #ObjName: "Copying, moving and Auto-Filling data", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 11, #AssessSecs: 30], [#ObjNum: 72, #ObjName: "Sorting data", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 6, #AssessSecs: 30], [#ObjNum: 73, #ObjName: "Adjusting rows and columns", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 16, #AssessSecs: 30], [#ObjNum: 74, #ObjName: "Managing Worksheets", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 5, #LearnMins: 10, #AssessSecs: 30]]], [#Section: 17, #SecName: "Working with formulas", #movieName: "rfm_excel10_3", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 75, #ObjName: "Creating simple formulas", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 6, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 76, #ObjName: "Using common built-in functions", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 77, #ObjName: "Using absolute and relative addresses", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 78, #ObjName: "Being careful with formulas", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 4, #AssessSecs: 30]]], [#Section: 18, #SecName: "Formatting a Worksheet", #movieName: "rfm_excel10_4", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 79, #ObjName: "Formatting cell contents", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 4, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 80, #ObjName: "Borders, shading and Styles", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 18, #AssessSecs: 30]]], [#Section: 19, #SecName: "Working with charts", #movieName: "rfm_excel10_5", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 81, #ObjName: "Understanding charts", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 12, #AssessSecs: 30], [#ObjNum: 82, #ObjName: "Changing the chart layout", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 10, #AssessSecs: 30]]], [#Section: 20, #SecName: "Proofing and printing", #movieName: "rfm_excel10_6", #AssessOn: 1, #LearnOn: 1, #Objectives: [[#ObjNum: 83, #ObjName: "Spell checking", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 4, #AssessSecs: 30], [#ObjNum: 84, #ObjName: "Previewing the Worksheet", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 3, #LearnMins: 5, #AssessSecs: 30], [#ObjNum: 85, #ObjName: "Adding and removing page breaks", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 10, #AssessSecs: 30], [#ObjNum: 86, #ObjName: "Customising the printout", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 2, #LearnMins: 25, #AssessSecs: 30], [#ObjNum: 87, #ObjName: "Printing the worksheet", #LearnOn: 1, #AssessOn: 1, #AssessOutOf: 1, #LearnMins: 6, #AssessSecs: 30]]]]]'
END
RETURN @RetVal
END

GO
