USE [mbdbx101]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningLogItemFileGroups](
	[FileGroupID] [int] IDENTITY(1,1) NOT NULL,
	[LearningLogItemID] [int] NOT NULL,
 CONSTRAINT [PK_FileGroups] PRIMARY KEY CLUSTERED 
(
	[FileGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LearningLogItemFileGroups] ADD  CONSTRAINT [DF_FileGroups_LearningLogItemID]  DEFAULT ((0)) FOR [LearningLogItemID]
GO
